.card {
  min-height: var(--card-height);
  min-width: var(--card-height);

  text-align: center;
  cursor: pointer;
  background: khaki;
}
.card.selected {
  position: relative;
  border: 2px solid darkkhaki;
  top: -0.5rem;
}
.card:active {
  background: yellowgreen;
}
.cardHeader {
  padding: 0 1rem;
}
