.pairOnBoard {
  position: relative;
  padding: 1rem;

  /* border: 2px solid gainsboro; */
  background-color: whitesmoke;
  border-radius: 1em;

  min-width: calc(2 * var(--card-height));
  min-height: calc(var(--card-height) + 5rem);
}
