.pairOnBoard {
  display: flex;
  gap: 1rem;
  position: relative;
  padding: 1rem;

  border: 2px solid darkkhaki;
  border-radius: 1em;

  min-width: calc(2 * var(--card-height) + 3rem);
  min-height: calc(var(--card-height) + 5rem);
  max-height: calc(var(--card-height) + 5rem);
}
