.boardWrapper {
  --card-height: 8.75rem;
  position: relative;
}

.pairButton {
  position: relative;
  top: -1.5rem;
}

.cardContainer {
  display: flex;

  min-width: 160px;
  min-height: 13.75rem;

  border: 8px solid whitesmoke;
  border-radius: 1rem;

  overflow-y: scroll;
}

.board {
  border: 8px solid #b99ef6;

  /* border-image: linear-gradient(45deg, var(--primary), var(--secondary)) 1; */

  border-radius: 20px;
  min-height: 600px;

  gap: 2rem;
  background-color: white;
  padding: 2rem 1.5rem;
}

.teamMemberTitle {
  position: absolute;
  top: 0.5rem;
  left: 2rem;
  padding: 0 1rem;
  background-color: white;
}

.boardTitle {
  position: absolute;
  top: -1rem;
  left: 1rem;
  padding: 0 1rem;
  background-color: white;
}
