#root {
  margin: 0 auto;
  padding: 2rem;
  width: 100%;

  display: grid;
  height: 100dvh;
  align-content: start;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;

  --text: #131117;
  --background: #f7f6f8;
  --primary: #8b5cf6;
  --secondary: #d0f65c;
}
