.cardContainer {
  position: relative;
  border: 1px solid yellowgreen;
  height: 800px;
  width: 800px;
}

.cardContainer .card {
  position: absolute;
  cursor: pointer;
}

.card .cardHeader {
  display: flex;
  height: 100%;

  text-align: center;

  justify-content: center;
  align-items: center;
}
